
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin:0 200px;
}
.nav-links {
   
}
.display-flex{
    display:flex
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
    
}
.nav-link{
    text-decoration: none;
}
.text-black{
    color: black;
}
.text-grey{
    color:grey
}
.banner-container{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 200px;

}
.banner-title{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 0;

}
.text-orange{
    color: orange;
}
.flower-intro{
    text-align: center;
    font-weight: 800;
    font-size: 2rem ;
    margin-bottom: 0;
}
.flower-intro-text{
    text-align: center;
}
.flower-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
   max-width: 1440px;
    margin:0px 200px  ;
    margin-right: 400px;
    
    


}
.card-top{
    text-align: center;
}
.card-body{
    text-align: center;
    margin-bottom: 10px;
    
}
.btn{
    
  background-color: #f26522;
  color: white;
  border: none;
  width: 100%; /* or a fixed value like 250px */
  padding: 18px 10px; /* top-bottom padding only */
  font-size: 1 rem; /* smaller font size */
  cursor: pointer;
  text-align: center;
}
}